[submodule "algo-stocks-strategy"]
	path = Strategy/David
	url = git@github.com:algo-stocks/strategy.git
[submodule "magnus-strategy"]
	path = Strategy/Magnus
	url = https://github.com/zuongthaotn/strategy
