/Source/
/ZorroMT5.zip
/ssleay32.dll
/loss.wav
/Data/
/Zorro_setup_16862.txt
/msvcr80.dll
/libeay32.dll
/Setup.log
/Zorro.ini
/Cache/
/Log/
/mt4R.dll
/Plugin/
/api.def
/ackutl.dll
/optimize.wav
/ZorroControl.exe
/History/
/Zorro.exe
/include/
/zorro.chm
/ZorroMT4.zip
/trail.wav
/win.wav
/Zorro_setup_16862.exe
/mfc80u.dll
/Microsoft.VC80.CRT.manifest
/Zview.exe
/msvcr120.dll
/python36.dll
/Strategy.old/
/mfc71.dll
/msvcp80.dll
/trade.wav
/msvcr71.dll
/FXCM.zip
/msvcp71.dll
/ZorroControl.dll
/Notepad++/
/click.wav
/chartdir60.dll
/.idea/
/Plugin.old/
/History.old/
/Data.old/
/ZProxy/
/Zorro.chw
/FXCM/
